//adaptive breakpoints
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Large tablets and desktops
$screen-xxl-min: 1600px;

//adaptive breakpoints
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1200px;

// Large tablets and desktops
$screen-xxl-max: 1600px;

@mixin sm-min {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md-min {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg-min {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl-min {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin xxl-min {
  @media (min-width: #{$screen-xxl-min}) {
    @content;
  }
}

//max-width
@mixin sm-max {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

// Medium devices
@mixin md-max {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

// Large devices
@mixin lg-max {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}

// Extra large devices
@mixin xl-max {
  @media (max-width: #{$screen-xl-max}) {
    @content;
  }
}

@mixin xxl-max {
  @media (max-width: #{$screen-xxl-max}) {
    @content;
  }
}

//adaptive breakpoints