@import "adaptiveMixins";

.footer-container {
  margin: 200px 230px 120px 230px;
  display: flex;
  justify-content: space-between;
  @include lg-max {
    margin: 80px 80px 120px 80px;
  }
  @include md-max {
    margin: 160px 60px 120px 60px;
  }
  @include sm-max {
    flex-direction: column-reverse;
    margin: 50px 40px 0 40px;
  }
}

.footer-info {
  display: flex;
  flex-direction: column;
  margin: 0 10px;

  &__logo {
    color: #FFFFFF;
    font-family: chronicle-display;
    line-height: 20px;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 24px;
    @include sm-max {
      display: flex;
      justify-content: center;
      margin: 10px 0;
      font-size: 36px;
    }
  }

  &__description {
    color: #FFFFFF;
    font-family: gilroy-bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
  }

  &__copyright {
    margin-top: 120px;
    color: #FFFFFF;
    opacity: 0.5;
    font-family: gilroy-bold;
    line-height: 32px;
    font-weight: bold;
    font-size: 18px;
    @include xl-max {
      margin-top: 80px;
    }
    @include lg-max {
      margin-top: 60px;
    }
    @include md-max {
      margin-top: 40px;
    }
    @include sm-max {
      margin-top: 20px;
    }
  }
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  max-width: 566px;
  width: 100%;
  @include sm-max {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__blog, &__more {
    list-style: none;
    margin: 0 10px;
  }

  &__link {
    font-family: gilroy;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 16px;
  }

  &__link a {
    color: #FFFFFF;
    text-decoration: none;
  }

  &__link-title {
    font-family: gilroy;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
    @include sm-max {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__link-title a {
    color: #FBD784;
    text-decoration: none;
  }

}