@charset "UTF-8";
@font-face {
  font-family: "chronicle-display";
  src: url("fonts/Chronicle Display Black.otf");
  font-family: "gilroy-bold";
  src: url("fonts/Gilroy-Bold.ttf");
  font-family: "gilroy-extrabold";
  src: url("fonts/Gilroy-ExtraBold.ttf");
}
@font-face {
  font-family: "chronicle-display-semibold";
  src: url("Chronicle Display Semibold.otf");
}
@font-face {
  font-family: "gilroy-bold";
  src: url("fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "gilroy-extrabold";
  src: url("fonts/Gilroy-ExtraBold.ttf");
}
@font-face {
  font-family: "gilroy";
  src: url("fonts/Gilroy-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  max-width: 1920px;
  background: url("img/bg-main.png") no-repeat, linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 0%) fixed;
  background-size: 100%;
}

@media (max-width: 576px) {
  br {
    display: none;
  }
}

.container {
  margin: 64px 80px 0 80px;
  max-width: 1760px;
  display: flex;
}
@media (max-width: 768px) {
  .container {
    margin: 22px 60px 60px;
  }
}
.container__menu {
  justify-content: space-between;
}

.logo {
  color: #FFFFFF;
  font-family: chronicle-display;
  line-height: 20px;
  font-weight: bold;
  font-size: 32px;
}

.menu {
  color: #FFFFFF;
  display: flex;
}
.menu #menu__toggle {
  opacity: 0;
}
@media (max-width: 576px) {
  .menu {
    /* элементы меню */
    /* добавляем "гамбургер" */
  }
  .menu #menu__toggle {
    opacity: 0;
  }
  .menu .menu__list {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #264C5A;
    opacity: 0.8;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    z-index: 20;
  }
  .menu .menu__link {
    display: block;
    padding: 12px 24px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  .menu #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  .menu #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .menu #menu__toggle:checked ~ .menu__list {
    visibility: visible;
    left: 0;
  }
  .menu .menu__btn {
    display: flex;
    /* используем flex для центрирования содержимого */
    align-items: center;
    /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu .menu__btn > span,
.menu .menu__btn > span::before,
.menu .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu .menu__btn > span,
.menu .menu__btn > span::before,
.menu .menu__btn > span::after {
    transition-duration: 0.25s;
  }
  .menu .menu__list {
    transition-duration: 0.25s;
  }
  .menu .menu__link {
    transition-duration: 0.25s;
  }
}
.menu__list {
  color: #FFFFFF;
  display: flex;
  list-style-type: none;
}
.menu__link {
  color: #FFFFFF;
  font-family: gilroy-bold;
  font-weight: bold;
  font-size: 18px;
  margin: 0 0 0 40px;
  text-decoration: none;
}
@media (max-width: 768px) {
  .menu__link {
    margin: 0 0 0 10px;
    font-size: 18px;
  }
}

.auth {
  display: flex;
  font-family: gilroy-bold;
  font-size: 17px;
  color: #FFFFFF;
}
.auth__icon {
  margin: 0 10px 0 0;
}

.socials {
  display: flex;
  flex-direction: column;
  margin: 65px 0 0 0;
}
@media (max-width: 576px) {
  .socials {
    flex-direction: row;
    justify-content: center;
  }
}
.socials__text {
  font-weight: 600;
  font-size: 18px;
  font-family: gilroy;
  color: #FFFFFF;
  writing-mode: vertical-rl;
  margin: 0 0 24px 0;
}
@media (max-width: 576px) {
  .socials__text {
    writing-mode: horizontal-tb;
  }
}
.socials__icon {
  max-width: 24px;
  max-height: 24px;
  margin: 0 0 24px 0;
}
@media (max-width: 576px) {
  .socials__icon {
    margin-left: 15px;
  }
}

.announce {
  margin-top: 200px;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .announce {
    justify-content: center;
    flex-direction: column-reverse;
    margin-top: 0px;
  }
}

.announcement__title {
  display: flex;
  position: relative;
  text-transform: uppercase;
  color: #FBD784;
  font-weight: 800;
  font-family: gilroy;
  letter-spacing: 6px;
  font-size: 18px;
  margin-left: 104px;
}
@media (max-width: 768px) {
  .announcement__title {
    font-size: 16px;
  }
}
.announcement__title:before {
  content: "";
  display: flex;
  align-self: center;
  width: 72px;
  border-bottom: 2px solid #FBD784;
  position: absolute;
  left: -104px;
}
.announcement__title-line {
  display: flex;
  border-bottom: 1px solid;
  width: 25px;
}
.announcement__main {
  margin: 16px 0 16px 0;
  text-transform: capitalize;
  font-family: chronicle-display;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 88px;
}
@media (max-width: 1200px) {
  .announcement__main {
    font-size: 50px;
  }
}
@media (max-width: 992px) {
  .announcement__main {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .announcement__main {
    font-size: 35px;
  }
}
@media (max-width: 576px) {
  .announcement__main {
    justify-content: center;
  }
}
.announcement__scroll {
  display: flex;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  font-family: gilroy;
  color: #FFFFFF;
  animation: scroll 2.6s infinite linear;
}
@media (max-width: 576px) {
  .announcement__scroll {
    display: none;
  }
}
.announcement__scroll:after {
  content: "↓";
  position: absolute;
  font-weight: 500;
  font-size: 26px;
  font-family: auto;
  bottom: -5px;
  left: 90px;
}

.slider {
  overflow: auto;
  display: flex;
  flex-direction: column;
  max-height: 240px;
}
@media (max-width: 576px) {
  .slider {
    display: none;
  }
}
.slider__text, .slider a {
  font-family: gilroy;
  font-size: 18px;
  margin-bottom: 40px;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 32px;
}
@media (max-width: 768px) {
  .slider__text, .slider a {
    font-size: 15px;
  }
}
.slider__item {
  align-self: flex-end;
}

#scrollbar::-webkit-scrollbar {
  width: 3px;
  background-color: #FFFFFF;
}

#scrollbar::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;
}

#scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#scrollbar {
  overflow-y: scroll;
  scrollbar-color: #FFF rgba(0, 0, 0, 0.3);
  scrollbar-width: thin;
}

@keyframes scroll {
  0% {
    transform: translate3d(0, -30%, 0);
  }
  50% {
    transform: translate3d(0, 30%, 0);
  }
  100% {
    transform: translate3d(0, -30%, 0);
  }
}
.information {
  margin: 850px 230px 0 230px;
}
@media (max-width: 1600px) {
  .information {
    margin: 500px 180px 0 180px;
  }
}
@media (max-width: 1200px) {
  .information {
    margin: 100px 150px 0 150px;
  }
}
@media (max-width: 992px) {
  .information {
    margin: 100px 80px 0 80px;
  }
}
@media (max-width: 768px) {
  .information {
    margin: 150px 40px 0 40px;
  }
}
@media (max-width: 576px) {
  .information {
    margin: 50px 40px 0 40px;
  }
}

.info {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .info {
    margin-bottom: 20px;
  }
}
.info__text {
  max-width: 632px;
  margin-top: 141px;
  position: relative;
}
@media (max-width: 1600px) {
  .info__text {
    max-width: 380px;
  }
}
@media (max-width: 1200px) {
  .info__text {
    max-width: 300px;
  }
}
@media (max-width: 992px) {
  .info__text {
    margin-top: 100px;
    max-width: 280px;
  }
}
@media (max-width: 768px) {
  .info__text {
    margin-top: 60px;
    max-width: 220px;
  }
}
@media (max-width: 576px) {
  .info__text {
    margin-top: 40px;
    margin-bottom: 20px;
    max-width: 100%;
  }
}
.info__number {
  content: "";
  font-family: gilroy-bold;
  font-size: 240px;
  font-weight: 700;
  color: #FFFFFF;
  opacity: 0.1;
  position: absolute;
  top: -160px;
  left: -50px;
}
@media (max-width: 1600px) {
  .info__number {
    font-size: 200px;
    top: -140px;
  }
}
@media (max-width: 1200px) {
  .info__number {
    font-size: 180px;
    top: -120px;
  }
}
@media (max-width: 992px) {
  .info__number {
    font-size: 140px;
    top: -80px;
  }
}
@media (max-width: 768px) {
  .info__number {
    display: none;
  }
}
.info__name {
  display: flex;
  position: relative;
  text-transform: uppercase;
  color: #FBD784;
  font-weight: 800;
  font-family: gilroy;
  letter-spacing: 6px;
  font-size: 18px;
  margin-left: 104px;
}
@media (max-width: 576px) {
  .info__name {
    margin-bottom: 20px;
  }
}
.info__name:before {
  content: "";
  display: flex;
  align-self: center;
  width: 72px;
  border-bottom: 2px solid #FBD784;
  position: absolute;
  left: -104px;
}
.info__title {
  font-family: chronicle-display-semibold;
  font-weight: 500;
  font-size: 64px;
  color: #FFFFFF;
}
@media (max-width: 1600px) {
  .info__title {
    font-size: 48px;
  }
}
@media (max-width: 1200px) {
  .info__title {
    font-size: 36px;
  }
}
.info__about {
  color: #FFFFFF;
  font-family: gilroy;
  font-weight: 500;
  font-size: 18px;
  padding: 28px 0;
  line-height: 32px;
}
.info__more {
  position: relative;
  font-family: gilroy;
  font-size: 18px;
  line-height: 22px;
  color: #FBD784;
}
.info__more::after {
  content: "→";
  position: absolute;
  font-family: math;
  font-size: 20px;
  line-height: 22px;
  color: #FBD784;
  margin-left: 16px;
}
.info__picture {
  max-width: 570px;
}
.info__picture img {
  max-width: 100%;
  margin: 20px;
  object-fit: cover;
}
@media (max-width: 576px) {
  .info__picture img {
    margin: 0px;
  }
}

.info-reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.info-reverse .info__text {
  margin-left: 60px;
}
@media (max-width: 576px) {
  .info-reverse .info__text {
    margin-left: 0px;
  }
}
.info-reverse .info__picture img {
  display: block;
  margin: 0px;
}
@media (max-width: 576px) {
  .info-reverse {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/*Footer*/
.footer-container {
  margin: 200px 230px 120px 230px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .footer-container {
    margin: 80px 80px 120px 80px;
  }
}
@media (max-width: 768px) {
  .footer-container {
    margin: 160px 60px 120px 60px;
  }
}
@media (max-width: 576px) {
  .footer-container {
    flex-direction: column-reverse;
    margin: 50px 40px 0 40px;
  }
}

.footer-info {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}
.footer-info__logo {
  color: #FFFFFF;
  font-family: chronicle-display;
  line-height: 20px;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 24px;
}
@media (max-width: 576px) {
  .footer-info__logo {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    font-size: 36px;
  }
}
.footer-info__description {
  color: #FFFFFF;
  font-family: gilroy-bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}
.footer-info__copyright {
  margin-top: 120px;
  color: #FFFFFF;
  opacity: 0.5;
  font-family: gilroy-bold;
  line-height: 32px;
  font-weight: bold;
  font-size: 18px;
}
@media (max-width: 1200px) {
  .footer-info__copyright {
    margin-top: 80px;
  }
}
@media (max-width: 992px) {
  .footer-info__copyright {
    margin-top: 60px;
  }
}
@media (max-width: 768px) {
  .footer-info__copyright {
    margin-top: 40px;
  }
}
@media (max-width: 576px) {
  .footer-info__copyright {
    margin-top: 20px;
  }
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  max-width: 566px;
  width: 100%;
}
@media (max-width: 576px) {
  .footer-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.footer-menu__blog, .footer-menu__more {
  list-style: none;
  margin: 0 10px;
}
.footer-menu__link {
  font-family: gilroy;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 16px;
}
.footer-menu__link a {
  color: #FFFFFF;
  text-decoration: none;
}
.footer-menu__link-title {
  font-family: gilroy;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}
@media (max-width: 576px) {
  .footer-menu__link-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.footer-menu__link-title a {
  color: #FBD784;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
