@charset "UTF-8";
@font-face {
  font-family: "chronicle-display";
  src: url("fonts/Chronicle Display Black.otf");
  font-family: "gilroy-bold";
  src: url("fonts/Gilroy-Bold.ttf");
  font-family: "gilroy-extrabold";
  src: url("fonts/Gilroy-ExtraBold.ttf");
}
@font-face {
  font-family: "gilroy-bold";
  src: url("fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "gilroy-extrabold";
  src: url("fonts/Gilroy-ExtraBold.ttf");
}
@font-face {
  font-family: "gilroy";
  src: url("fonts/Gilroy-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  background: url("img/bg-main.png") no-repeat, linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 0%) fixed;
  background-size: 100%;
}

.container {
  margin: 64px 80px 0 80px;
  max-width: 1760px;
  display: flex;
}
.container__menu {
  justify-content: space-between;
}

.announce {
  margin-top: 200px;
  justify-content: space-between;
}

.socials {
  display: flex;
  flex-direction: column;
  margin: 65px 0 0 0;
}
.socials__text {
  font-weight: 600;
  font-size: 18px;
  font-family: gilroy;
  color: #FFFFFF;
  writing-mode: vertical-rl;
  margin: 0 0 24px 0;
}
.socials__icon {
  max-width: 24px;
  max-height: 24px;
  margin: 0 0 24px 0;
}

.announcement__title {
  display: flex;
  position: relative;
  text-transform: uppercase;
  color: #FBD784;
  font-weight: 800;
  font-family: gilroy;
  letter-spacing: 6px;
  font-size: 18px;
  margin-left: 104px;
}
.announcement__title:before {
  content: "";
  display: flex;
  align-self: center;
  width: 72px;
  border-bottom: 2px solid #FBD784;
  position: absolute;
  left: -104px;
}
.announcement__title-line {
  display: flex;
  border-bottom: 1px solid;
  width: 25px;
}
.announcement__main {
  margin: 16px 0 16px 0;
  text-transform: capitalize;
  font-family: chronicle-display;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 88px;
}
.announcement__scroll {
  display: flex;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  font-family: gilroy;
  color: #FFFFFF;
  animation: scroll 2.6s infinite linear;
}
.announcement__scroll:after {
  content: "↓";
  position: absolute;
  font-weight: 500;
  font-size: 26px;
  font-family: auto;
  bottom: -5px;
  left: 90px;
}

.logo {
  color: #FFFFFF;
  font-family: chronicle-display;
  line-height: 20px;
  font-weight: bold;
  font-size: 32px;
}

.menu {
  color: #FFFFFF;
  display: flex;
}
.menu #menu__toggle {
  opacity: 0;
}
@media (max-width: 576px) {
  .menu {
    /* элементы меню */
    /* добавляем "гамбургер" */
  }
  .menu #menu__toggle {
    opacity: 0;
  }
  .menu .menu__list {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #264C5A;
    opacity: 0.8;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    z-index: 20;
  }
  .menu .menu__link {
    display: block;
    padding: 12px 24px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  .menu #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  .menu #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .menu #menu__toggle:checked ~ .menu__list {
    visibility: visible;
    left: 0;
  }
  .menu .menu__btn {
    display: flex;
    /* используем flex для центрирования содержимого */
    align-items: center;
    /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu .menu__btn > span,
.menu .menu__btn > span::before,
.menu .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu .menu__btn > span,
.menu .menu__btn > span::before,
.menu .menu__btn > span::after {
    transition-duration: 0.25s;
  }
  .menu .menu__list {
    transition-duration: 0.25s;
  }
  .menu .menu__link {
    transition-duration: 0.25s;
  }
}
.menu__list {
  color: #FFFFFF;
  display: flex;
  list-style-type: none;
}
.menu__link {
  color: #FFFFFF;
  font-family: gilroy-bold;
  font-weight: bold;
  font-size: 18px;
  margin: 0 0 0 40px;
  text-decoration: none;
}
@media (max-width: 768px) {
  .menu__link {
    margin: 0 0 0 10px;
    font-size: 18px;
  }
}

.auth {
  display: flex;
  font-family: gilroy-bold;
  font-size: 17px;
  color: #FFFFFF;
}
.auth__icon {
  margin: 0 10px 0 0;
}

@keyframes scroll {
  0% {
    transform: translate3d(0, -30%, 0);
  }
  50% {
    transform: translate3d(0, 30%, 0);
  }
  100% {
    transform: translate3d(0, -30%, 0);
  }
}

/*# sourceMappingURL=style.css.map */
