@import "adaptiveMixins";
@import "fonts";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  background: url('img/bg-main.png') no-repeat, linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 0%) fixed;
  background-size: 100%;
}


.container {
  margin: 64px 80px 0 80px;
  max-width: 1760px;
  display: flex;
  @include md-max {
    margin: 22px 60px 60px;
  }

  &__menu {
    justify-content: space-between;
  }
}

.logo {
  color: #FFFFFF;
  font-family: chronicle-display;
  line-height: 20px;
  font-weight: bold;
  font-size: 32px;
}

.menu {
  color: #FFFFFF;
  display: flex;

  #menu__toggle {
    opacity: 0;
  }

  @include sm-max {
    @import "adaptiveHamburgerMenu";
  }

  &__list {
    color: #FFFFFF;
    display: flex;
    list-style-type: none;
  }

  &__link {
    color: #FFFFFF;
    font-family: gilroy-bold;
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 0 40px;
    text-decoration: none;
    @include md-max {
      margin: 0 0 0 10px;
      font-size: 18px;
    }
  }
}

.auth {
  display: flex;
  font-family: gilroy-bold;
  font-size: 17px;
  color: #FFFFFF;

  &__icon {
    margin: 0 10px 0 0;
  }
}

.socials {
  display: flex;
  flex-direction: column;
  margin: 65px 0 0 0;
  @include sm-max {
    flex-direction: row;
    justify-content: center;
  }

  &__text {
    font-weight: 600;
    font-size: 18px;
    font-family: gilroy;
    color: #FFFFFF;
    writing-mode: vertical-rl;
    margin: 0 0 24px 0;
    @include sm-max {
      writing-mode: horizontal-tb;
    }
  }

  &__icon {
    max-width: 24px;
    max-height: 24px;
    margin: 0 0 24px 0;
    @include sm-max {
      margin-left: 15px;
    }
  }
}

.announce {
  margin-top: 200px;
  justify-content: space-between;
  @include sm-max {
    justify-content: center;
    flex-direction: column-reverse;
    margin-top: 0px;
  }
}

.announcement {

  &__title {
    display: flex;
    position: relative;
    text-transform: uppercase;
    color: #FBD784;
    font-weight: 800;
    font-family: gilroy;
    letter-spacing: 6px;
    font-size: 18px;
    margin-left: 104px;

    @include md-max {
      font-size: 16px;
    }
    @include sm-max {

    }
  }

  &__title:before {
    content: '';
    display: flex;
    align-self: center;
    width: 72px;
    border-bottom: 2px solid #FBD784;
    position: absolute;
    left: - 104px;
  }

  &__title-line {
    display: flex;
    border-bottom: 1px solid;
    width: 25px;
  }

  &__main {
    margin: 16px 0 16px 0;
    text-transform: capitalize;
    font-family: chronicle-display;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 88px;
    @include xl-max {
      font-size: 50px;
    }
    @include lg-max {
      font-size: 40px;
    }
    @include md-max {
      font-size: 35px;
    }
    @include sm-max {
      justify-content: center;
    }
  }

  &__scroll {
    display: flex;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    font-family: gilroy;
    color: #FFFFFF;
    animation: scroll 2.6s infinite linear;
    @include sm-max {
      display: none;
    }
  }

  &__scroll:after {
    content: '\2193';
    position: absolute;
    font-weight: 500;
    font-size: 26px;
    font-family: auto;
    bottom: -5px;
    left: 90px;
  }

}

.slider {
  overflow: auto;
  display: flex;
  flex-direction: column;
  max-height: 240px;
  @include sm-max {
    display: none;
  }

  &__text, a {
    font-family: gilroy;
    font-size: 18px;
    margin-bottom: 40px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 32px;
    @include md-max {
      font-size: 15px;
    }
  }

  &__item {
    align-self: flex-end;
  }

}

#scrollbar::-webkit-scrollbar {
  width: 3px;
  background-color: #FFFFFF;
}

#scrollbar::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;
}

#scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#scrollbar {
  overflow-y: scroll;
  scrollbar-color: #FFF rgba(0, 0, 0, 0.3);
  scrollbar-width: thin;
}


@keyframes scroll {
  0% {
    transform: translate3d(0, -30%, 0);
  }
  50% {
    transform: translate3d(0, 30%, 0);
  }
  100% {
    transform: translate3d(0, -30%, 0);
  }
}

.information {
  margin: 850px 230px 0 230px;
  @include xxl-max {
    margin: 850px 180px 0 180px;
  }
  @include xl-max {
    margin: 850px 150px 0 150px;
  }
  @include lg-max {
    margin: 850px 80px 0 80px;
  }
  @include md-max {
    margin: 850px 40px 0 40px;
  }
  @include sm-max {
    margin: 50px 40px 0 40px;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  @include sm-max {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @include md-max {
    margin-bottom: 20px;
  }

  &__text {
    max-width: 632px;
    margin-top: 141px;
    position: relative;
    @include xxl-max {
      max-width: 380px;
    }
    @include xl-max {
      max-width: 300px;
    }
    @include lg-max {
      margin-top: 100px;
      max-width: 280px;
    }
    @include md-max {
      margin-top: 60px;
      max-width: 220px;
    }
    @include sm-max {
      margin-top: 40px;
      margin-bottom: 20px;
      max-width: 100%;
    }


  }

  &__number {
    content: "";
    font-family: gilroy-bold;
    font-size: 240px;
    font-weight: 700;
    color: #FFFFFF;
    opacity: 0.1;
    position: absolute;
    top: -160px;
    left: -140px;
    @include xxl-max {
      font-size: 200px;
    }
    @include xl-max {
      font-size: 180px;
      top: -130px;
      left: -120px;
    }
    @include lg-max {
      font-size: 140px;
      top: -80px;
      left: -50px;
    }
    @include md-max {
      display: none;
    }

  }

  &__name {
    display: flex;
    position: relative;
    text-transform: uppercase;
    color: #FBD784;
    font-weight: 800;
    font-family: gilroy;
    letter-spacing: 6px;
    font-size: 18px;
    margin-left: 104px;
    @include sm-max {
      margin-bottom: 20px;
    }
  }

  &__name:before {
    content: '';
    display: flex;
    align-self: center;
    width: 72px;
    border-bottom: 2px solid #FBD784;
    position: absolute;
    left: - 104px;
  }

  &__title {
    font-family: chronicle-display-semibold;
    font-weight: 500;
    font-size: 64px;
    color: #FFFFFF;
    @include xxl-max {
      font-size: 48px;
    }
    @include xl-max {
      font-size: 36px;
    }
  }

  &__about {
    color: #FFFFFF;
    font-family: gilroy;
    font-weight: 500;
    font-size: 18px;
    padding: 28px 0;
    line-height: 32px;
  }

  &__more {
    position: relative;
    font-family: gilroy;
    font-size: 18px;
    line-height: 22px;
    color: #FBD784;
  }

  &__more::after {
    content: '\2192';
    position: absolute;
    font-family: math;
    font-size: 20px;
    line-height: 22px;
    color: #FBD784;
    margin-left: 16px;
  }

  &__picture {
    max-width: 570px;
  }

  &__picture img {
    max-width: 100%;
    margin: 20px;
    object-fit: cover;
    @include sm-max {
      margin: 0px;
    }
  }
}

.info-reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  .info__text {
    margin-left: 60px;
    @include sm-max {
      margin-left: 0px;
    }
  }

  .info__picture img {
    margin: 0px;
  }

  .info__number {

  }

  @include sm-max {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
