@import "adaptiveMixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "chronicle-display";
  src: url('fonts/Chronicle Display Black.otf');

  font-family: "gilroy-bold";
  src: url('fonts/Gilroy-Bold.ttf');

  font-family: "gilroy-extrabold";
  src: url('fonts/Gilroy-ExtraBold.ttf');
}

@font-face {
  font-family: "gilroy-bold";
  src: url('fonts/Gilroy-Bold.ttf');
}

@font-face {
  font-family: "gilroy-extrabold";
  src: url('fonts/Gilroy-ExtraBold.ttf');
}

body {
  max-width: 1920px;
  background: url('img/bg-main.png') no-repeat, linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 0%) fixed;
  background-size: 100%;
}

.container {
  margin: 64px 80px 0 80px;
  max-width: 1760px;
  display: flex;

  &__menu {
    justify-content: space-between;
  }

  .logo {
    color: #FFFFFF;
    font-family: chronicle-display;
    line-height: 20px;
    font-weight: bold;
    font-size: 32px;
  }
}

.menu {
  color: #FFFFFF;
  display: flex;
  #menu__toggle {
    opacity: 0;
  }
  @include sm-max {
    @import "adaptiveHamburgerMenu";
  }

  &__list {
    color: #FFFFFF;
    display: flex;
    list-style-type: none;
  }

  &__link {
    color: #FFFFFF;
    font-family: gilroy-bold;
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 0 40px;
    text-decoration: none;
  }
}

.auth {
  display: flex;
  font-family: gilroy-bold;
  font-size: 17px;
  color: #FFFFFF;

  &__icon {
    margin: 0 10px 0 0;
  }
}